# Dependency directories
node_modules/
dist/
target/
.angular/

# IDE & OS files
.idea/
.vscode/
.DS_Store

# Version control
.git/
.gitignore

# Local databases and secrets
*.db
*.sqlite
*.sqlite3
.env
